/*
    1. Posicionamiento
    2. Modelo de caja
    3. Tipografía
    4. Visuales
    5. Otros
*/

:root {
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --warm-blacker: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: "DM Sans", "sans-serif";
}

header {
    position: relative;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;

    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.header__title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
    /* position: relative; */
}

.header__title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header__title-container p {
    margin-top: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header__button {
    position: absolute;
    bottom: -24px;
    left: calc(50% - 114px);
    margin-top: 35px;
    width: 228px;
    height: 48px;
    padding: 15px;
    
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--warm-blacker);
}

.header__button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 8px;
    background-image: url("../assets/icons/down_pointer.svg");
}

main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}

.main-exchange {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 50px;
    text-align: center;
    background-color: var(--off-white);
}

.main-exchange__title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main-exchange__background-image {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url("../assets/icons/Bitcoin.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-exchange h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--warm-blacker)
}

.main-exchange p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}

.main-exchange__status {
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;

    background-color: var(--soft-orange);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}

.main-exchange__status p {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5rem;
    color: var(--warm-black);
}

.features {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px;
    padding-top: 30px;

    background-color: var(--warm-black);
}

.features__logo {
    position: absolute;
    width: 40.57px;
    height: 24.01px;
	top: -12px;
    left: calc(50% - 20px);
    
    background-image: url("../assets/icons/chip.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.features__title h2 {
    text-align: center;
    margin: 20px;
    
    font-family: "DM Sans", "sans-serif";
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.features__title p {
    padding-bottom: 20px;

    text-align: center;
    font-family: "DM Sans", "sans-serif";
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.feature-card {
    display: flex;
    flex-flow: column;
    align-content: space-between;
    width: 100%;
    max-width: 480px;
    height: auto;
    padding: 15px;

    background-color: var(--warm-blacker);
    border-radius: 4px;
    margin: 10px auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    
}

.feature-card h3 {
    text-align: left;
    margin-top: 12px;
    margin-bottom: 12px;
    
    font-family: "DM Sans", "sans-serif";
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}

.feature-card p {
    text-align: left;
    font-family: "DM Sans", "sans-serif";
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.feature-card span {
    display: inline-block;
    width: 20px;
    height: 20px;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.feature-card--time span {
    background-image: url("../assets/icons/clock.svg");
}

.feature-card--eye span {
    background-image: url("../assets/icons/eye.svg");
}

.feature-card--coin span {
    background-image: url("../assets/icons/dollar_sign.svg");
}

.feature-card--trust span {
    background-image: url("../assets/icons/check_circle.svg");
}

.banner {
    width: 100%;
    min-width: 320px;
    height: 90vh;
    background-image: url("../assets/images/bitcoinbaby.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner h2 {
    text-align: center;

    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.plans {
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 60px 15px;
    text-align: center;

    background-color: var(--off-white);
}

.plans__title h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: "DM Sans", "sans-serif";
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--warm-black)
}

.plans__title p {
    text-align: center;
    margin-bottom: 20px;
    font-family: "DM Sans", "sans-serif";
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #757575
}

.plans__cards {
    display: flex;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.plan-card {
    position: relative;
    scroll-snap-align: center;
    max-width: 240px;
    padding: 20px;
    margin: 40px 0;

    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    background-color: var(--just-white);
}

.plan-card::after {
    content: "";
    flex: 0 0 30px;
}

.wrapper {
    padding: 0 30px;
}

.wrapper:first-of-type {
    padding-left: calc(50%);
}

.wrapper:last-of-type {
    padding-right: calc(50%);
}

.plan-card__title {
    position: absolute;
    top: -15px;
    left: calc(50% - 60px);
    text-align: center;
    width: 120px;
    padding: 10px;

    background-color: var(--bitcoin-orange);
    border-radius: 5px;

    font-size: 1.2rem;
    font-family: "Inter", "sans-serif";
    font-weight: bold;
    line-height: 1.4rem;
    color: var(--just-white);

}

.plan-card__body h3 {
    text-align: center;
    margin-top: 15px;
    font-family: "DM Sans", "sans-serif";
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--warm-black)
}

.plan-card__body .price { /* More specificity */
    padding-bottom: 0;
    text-align: center;
    font-family: "Inter", "sans-serif";
    font-weight: bold;
    font-size: 5.2rem;
    line-height: 6.2rem;
    color: var(--warm-black)
}

.plan-card__body p { /* Less specificity */
    margin: 0 auto;
    text-align: center;
    font-family: "DM Sans", "sans-serif";
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: #757575
}

.plan-card__body button {
    padding: 10px;
    width: 160px;
    max-width: 160px;
    margin-top: 15px;
    vertical-align: text-bottom;
    
    border-radius: 5px;
    background-color: var(--soft-orange);
    border: 2px solid var(--bitcoin-orange);
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--warm-black);

}

.plan-card__body button span {
    display: inline-block;
    vertical-align: middle;
    margin: 2px;
}

.plan-card__body button .icon {
    width: 18px;
    height: 18px;
    background-image: url(../assets/icons/arrow_right.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.price sup {
    margin: 0 3px;
    font-size: 1.2rem;
    line-height: 1.4rem;
}

